body {
  background-color: grey;
  font-size: 22px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

label {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcomeMessage {
  font-size: 18px;
}

.expense {
  margin-left: -10px;
}

.addExpense {
  background-color: black;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  border: 100px, silver;
}


.expenseTotal {
  font-size: 18px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.weeklyTotal {
    font-size: 18px;
}



